# Liberally stolen from Infitech2.  Take that, Jason McCray.

# Minecraft files
asm/
backups/
blueprints/
coremods/
crash-reports/
CustomDISkins/
journeymap/
liteconfig/
logs/
reports/
resourcepacks/
saves/
screenshots/
TCNodeTracker/
texturepacks/
1213309934
GregTech.lang
icon.png
minetweaker.log
nicknames.json
OpenComputersMod*.*
options.txt
optionsof.txt
usernamecache.json
.curseclient
crafttweaker.log
local/
BotaniaVars.dat
realms_persistence.json
scripts.zip
usercache.json
scripts.7z
hs_err*.log
replay*.log
minecraftinstance.json
replay*.log
config/betterfps.json
config/splash.properties

config/InvTweaks/InvTweaks.cfg
config/MouseTweaks.cfg
config/InvTweaks.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/recipes/items.csv
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/biomesoplenty/biomes/*
config/buildcraft/detailed.properties
config/cd4017be/compiled.dat
config/thaumicjei_itemstack_aspects.json
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
config/jei/jei.cfg
config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/NEI/client.cfg
config/ftbutilities.cfg
config/agricraft/json/*
config/pneumaticcraft/MicromissileDefaults.cfg
config/betterfps.json
minecraftinstance.json
modularmachinery.7z
servers.dat

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
