# Configuration file

finderGems {
    S:targets <
        aether:ambrosium_ore, 0xffdecf75, ambrosium
        aether:zanite_ore, 0xff3f2878, zanite
        aether:icestone_ore, 0xff88a4e5, icestone
        aether:continuum_ore, 0xffdf6d2f, continuum
     >
}


finderMetals {
    S:targets <
        aether:gravitite_ore, 0xff9a4983, gravitite
        aether:arkenium_ore, 0xff191919, arkenium
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


