# Configuration file

finderGems {
    S:targets <
     >
}


finderMetals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


finderMinerals {
    S:targets <
        baseminerals:lithium_ore, 0xffa883ab, lithium
        baseminerals:niter_ore, 0xffcabab1, niter
        baseminerals:phosphorus_ore, 0xffcb9caa, phosphorus
        baseminerals:potash_ore, 0xffab7466, potash
        baseminerals:salt_ore, 0xffc0c0be, salt
        baseminerals:saltpeter_ore, 0xffbfb3b7, saltpeter
        baseminerals:sulfur_ore, 0xffbebe4d, sulfur
     >
}


