# Configuration file

finderGems {
    S:targets <
        essentialcraft:oredrops, 0xffaf00af, elemental
        essentialcraft:oredrops:5, 0xffaf00af, elemental
        essentialcraft:oredrops:10, 0xffaf00af, elemental
        essentialcraft:oredrops:1, 0xffaf0000, fire
        essentialcraft:oredrops:6, 0xffaf0000, fire
        essentialcraft:oredrops:11, 0xffaf0000, fire
        essentialcraft:oredrops:2, 0xff0000b3, water
        essentialcraft:oredrops:7, 0xff0000b3, water
        essentialcraft:oredrops:12, 0xff0000b3, water
        essentialcraft:oredrops:3, 0xff573f28, earth
        essentialcraft:oredrops:8, 0xff573f28, earth
        essentialcraft:oredrops:13, 0xff573f28, earth
        essentialcraft:oredrops:4, 0xffb0b0b0, air
        essentialcraft:oredrops:9, 0xffb0b0b0, air
        essentialcraft:oredrops:14, 0xffb0b0b0, air
        essentialcraft:oremithriline:*, 0xff009200, mithriline
     >
}


finderMetals {
    S:targets <
        essentialcraft:oremithriline:*, 0xff009200, mithriline
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


