# Configuration file

finderGems {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


finderMetals {
    S:targets <
        taiga:lignite_ore, 0xff3a3129, lignite
        taiga:slagiron_ore, 0xffdeb887, iron
        taiga:slaggold_ore, 0xffffd700, gold
        taiga:titanite_ore, 0xffd08eaf, titanite
        taiga:meteorite_ore, 0xff474437, meteorite
        taiga:vibranium_ore, 0xffa3b6af, vibranium
        taiga:adamantite_ore, 0xffa343c5, adamantite
        taiga:prometheum_ore, 0xff0c0912, prometheum
        taiga:rubium_ore, 0xffa33734, rubium
        taiga:tiberium_ore, 0xff2a852f, tiberium
        taiga:arcanite_ore, 0xff343983, arcanite
        taiga:eternite_ore, 0xffe0d433, eternite
        taiga:mythril_ore, 0xff768c86, mythril
        taiga:palladium_ore, 0xfff93405, palladium
        taiga:ignitite_ore, 0xffce9151, ignitite
        taiga:violium_ore, 0xff688b8d, violium
        taiga:bismuth_ore, 0xff905f82, bismuth
        taiga:mindorite_ore, 0xff12b6bb, mindorite
        taiga:karmesine_ore, 0xff9b5050, karmesine
     >
}


finderMinerals {
    S:targets <
     >
}


