# Configuration file

ev {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=6:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


general {
    # 'GTCE' for GTCE default circuit.
    # 'GA' for Gregic Additions circuit(circuitGA~~).
    # Otherwise, it depends on whether or not GA is installed.
    S:circuitsUsing=
}


hv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=13:2
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


iv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=11:2
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


luv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=5:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


lv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=15:2
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


master {
    I:magEU=1
    I:magFE=4
    B:recipeCef=true
    B:recipeCeu=true
}


max {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=4:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


mv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=7:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


ulv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=8:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


uv {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=4:1
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


zpm {
    B:CEFDisabled=false

    # CEF FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEFRatio=9:2
    B:CEUDisabled=false

    # CEU FE:EU conversion ratio (INTEGER:INTEGER)
    S:CEURatio=4:1
}


