# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Getting early charcoal can be tricky.  Tip: don't use a furnace.
        Trouble crafting torches?  Chop down some rubber trees.
        Steel takes forever?  Look for alternative Blast Furnace recipes.
        You cannot generate infinite water by placing two blocks of water anymore.
        Submerge Agricraft tanks for infinite water generation.
        Passive mobs can be carried!  Look for the CarryOn Key (default shift-RMB)
        Carrying hot fluids in a small container can burn you...without wearing the right Mitts.
        You can keep chunks loaded using FTB's own chunkloading mechanism from your Inventory.
        Darmstadium is a Gregtech material that is also used as a "wildcard" to represent "any material."
        Did you know?  Xavion contributed more to Infitech2 than anyone else combined (excluding Jason).
        Flint & Steel requires steel.
        Reliable help is hard to find.
        You can recommend more tips (or anything else) in our Discord Community!
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


